# yt-api configuration
YT_API_HOST=0.0.0.0
YT_API_PORT=3000
# gRPC target for yt-api to connect to yt-service
GRPC_TARGET=http://yt-service:50051

# yt-service configuration
GRPC_HOST=0.0.0.0
GRPC_PORT=50051

# yt-downloader settings
# Directory where downloads are saved (inside the container)
DOWNLOAD_DIR=/home/appuser/Downloads/yt-downloader
